:root {
    --escala:2;
    --alto-fila:calc(var(--escala)*10px);
}

.cuadro-graficos{
    height: calc((var(--alto-fila)*11) + 10px);
    border-bottom: 2px solid rgb(189, 189, 189)!important;
}
.container-estadisticas, .form-control, .btn{
    font-size: xx-small!important;
}

.barra-proceso{
    background-color: #005fb8;
}

.barra-cancelado{
    background-color: rgb(255, 71, 71);
}

.barra-finalizado{
    background-color: rgb(0, 196, 111);
}

.barra-total{
    background-color: gray;
}

.barra-num{
    padding-left: 0!important;
    height: calc(var(--alto-fila)*10);
}

.barra-line{
    border-left: 2px solid rgb(189, 189, 189)!important;

}

.item-medida{
    height: var(--alto-fila);
}

.barra-medir{
    height: calc(var(--alto-fila)*10);

}

.content-medida{

}
.div-medida{
    border-top: 1px solid rgb(189, 189, 189)!important;
}

.text-barra{
    color: rgb(233, 233, 233);
}
.titulo-barra{
    color: gray;
}

@media (max-width: 500px) {
    .cuadro-graficos{
        font-size: 4.5px!important;
    }
}

@media (max-width: 650px) {
    .cuadro-graficos{
        font-size: 7px!important;
    }
}