/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
body{
	background-color: #f5f5f5;
	font-family: Arial;
}

#main-container{
	margin: 20px auto;
	width: 1000px;
}

.cuadro{
	border-width: 1px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead tr{
	background-color: #0f75bd;
}

thead tr td{
	color: white;
	font-weight: bold;
}

tr:nth-child(even){
	background-color: #ddd;
}