table {
	border-collapse:collapse;
	border:2px solid green;
	font-size:14px;
	font-weight:bold;
}

table td, th {
	padding:10px 0px;
}

/*Clase 'tr' pertenece a los elementos que muestran información del usuario */
.tr {
	color:black;
}

.tr:hover {
	background:#BBF5C6;
}

.tr > td:hover {
	background:#59D571;
}

.tr > .th:hover {
	background:#59D571;
}

body {
	margin:0;
	padding:0;
	background:#004565;
	color:#fff;
	font-family:arial;
}

h1 {
	font-size:30px;
}

p {
	font-size:14px;
}

input {
	margin:5px 20px;
	font-family:courier;
	border-color:white;
	padding:5px 10px;
	margin-bottom:2px;
}

input[type="submit"], input[type="button"] { 
	width:160px;
	height:30px;
	background:#004565;
	color:#fff;
}

input[type="submit"]:hover, input[type="button"]:hover { 
	background:#001565;
	font-weight:bold;
}