h1 {
	font-size:30px;
	font-family:arial;
	color:#ffffff;
}

body {
	background:#004565;
	margin: 0;
}

table {
	font-family:arial; /*Define la familia de tipogrofía del texto*/
	font-size:20px; /* Definir el tamaño de la fuente de manera más rígida y con mayor exactitud. px-> Pixeles pt-> Puntos*/
	color:#fff; /*Color del texto */
	background-color:#609090; /*Color de fondo de un elemento de la página*/
	width:350px;
	height:170px;
	border-style:solid;
	border-color:white;
	padding:10px;
}

label {
	display:block;
	font-size:15px;
	font-family:arial;
	margin:10px;
}

input {
	font-family:courier;
	border-color:white;
	padding:3px 10px;
	margin-bottom:2px;
}

/*Input Control de Página (ICP)*/
.ICPage { 
	width:150px;
	height:30px;
	background:#004565;
	color:#fff;
	margin-left:5px;
}

.ICPage:hover { 
	background:#001565;
	font-weight:bold;
}

ul {
	list-style:none;
	color:#fff;
	font-size:16px;
}

ul li {
	padding:5px 50px;
}

a {
	text-decoration:none;
	color:#fff;
}

a:hover {
	text-decoration:none;
	color:black;
}

p {
	font-size:18px;
	padding:0px 30px;
}