body {
	margin:0;
	padding:0;
	background:#004565;
}

button {
	font-family:arial;
}

h1 {
	font-size:25px;
	font-family:arial;
	color:white;
}

p {
	font-size:14px;
	font-family:arial;
	color:#fff;
}

.contenid {
	width:80%;
	margin:0px 170px;
}

.menu {
	list-style:none;
	width:100%;
 	background:orange; /*Opcional sólo para delimitar el área de trabajo*/
 	margin:0;
 	padding:0;
}

.menu li {
	display:inline-block;
	position:relative;
	float:left;
}

.menu li button {
	background:#6271E1;
	width:200px;
	padding:10px;
	border:none;
	font-weight:bold;
}

/* Los elementos li de la primera lista (ul) que contiene a ->button-< se cambia de color al pasar el mouse más otros estilos*/
.menu .lip:hover > button {
	position:relative;
	top:-2px;
	background:#B0A9E2;
	border:solid black;
	color:blue;
}

#GET, #CS {
	cursor:pointer;
}

.menu li ul {
	display:none; /*Ocultar los submenús */
}

/* Cuando se posiciona el mouse sobre el elemento 'li' (padre) que contiene a una lista 'ul' (hijo), se le aplican estilos a este último. ILUSTRACION: PADRE > HIJO | Aplicar propiedades a HIJO. */
.menu li:hover > ul {
	display:block; /*Reaparecer los submenús*/
	position:absolute;
	left:10px;
	padding:0px 10px;
	max-width:0;
	max-height:0;
}

.menu li ul li {
	right:20px;
	top:-2px;
}

.menu li ul li button {
	font-weight:normal;
	background:#59D571;
}

.menu li ul li button:hover {
	background:#BBF5C6;
	right:20px;
	cursor:pointer;
	font-weight:bold;
	color:green;
	border:2px solid green;
}		

.menu li li li {
	top:-36px;
	bottom:38px;
	right:-150px;
}